.box
{
    width: 230px;
    height: 260px;
    margin: auto;
    padding: 10px 10px;
    border: 4px solid;
    box-shadow: 10px 10px 5px rgb(212, 233, 241);
    background-color: cadetblue;
    border-radius: 5px 5px;   
}
.res {
    width: 170px;
    height: 20px;
    border: 2px solid;
    margin: auto;
}
.but {
    font:bold 14px Arial;
    box-shadow: 5px 5px 5px rgb(212, 233, 241);
    border-radius: 10px;
    
}
#t {
    width: 90%;
    height: 20px;
}
#b2{
    height: 30px;
    width: 210px;
}
